service udevd_service /system/bin/udevd
    user root
    group system

service multimodalinput /system/bin/sa_main /system/profile/multimodalinput.xml
    class multimodalinput
    user root
    group system shell
    seclabel u:r:foundation:s0

on post-fs
    start udevd_service
    exec /system/bin/sleep 1
    start multimodalinput